[project]
name = "flake-locker"
version = "0.1.0"
requires-python = ">=3.12"
dependencies = []

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[project.scripts]
flake-locker = "flake_locker.__main__:main"

[tool.pdm]
distribution = true
